# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# ==========================
# Virtual Environment
# ==========================
venv/
.env/
ENV/
env/

# ==========================
# Django
# ==========================
/media/
/staticfiles/
/static/
*.log

# ==========================
# IDEs & Editors
# ==========================
.vscode/
.idea/

# ==========================
# System
# ==========================
.DS_Store
Thumbs.db
