{% extends 'base.html' %}

{% block title %}SGE - Detalhes do Produto{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Detalhes do Produto</h3>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text"><strong>Categoria:</strong> {{ object.category }}</p>
            <p class="card-text"><strong>Marca:</strong> {{ object.brand }}</p>
            <p class="card-text"><strong>Fornecedor:</strong> {{ object.supplier }}</p>
            <p class="card-text"><strong>Número de Série:</strong> {{ object.serie_number }}</p>
            <p class="card-text"><strong>Preço de Custo:</strong> R$ {{ object.cost_price|floatformat:2 }}</p>
            <p class="card-text"><strong>Preço de Venda:</strong> R$ {{ object.selling_price|floatformat:2 }}</p>
            <p class="card-text"><strong>Quantidade em Estoque:</strong> {{ object.quantity }}</p>
        </div>
    </div>
     <a href="{% url 'product_list' %}" class="btn btn-secondary mt-4">Voltar</a>

     {% if user.is_authenticated %}
        
    {% endif %}
    
</div>

{% endblock %}