{% extends 'base.html' %}

{% block title %}SGE - Editar Categoria{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Editar Categoria</h2>
        <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'category_list' %}" class="btn btn-secondary">Cancelar</a>
        <a href="{% url 'category_delete' category.id %}" class="btn btn-danger">Excluir</a>
    
        </form>
    </div>
    {% endblock %}